<ion-content >
  <div class="profile-container">
    <!-- Sección de perfil -->
    <div class="profile-header">
      <ion-avatar class="profile-avatar">
        <img [src]="getImagenUsuario()" alt="Foto de perfil">
      </ion-avatar>
      <div class="profile-info">
        <h1 class="anton_nombre">{{ userName }}</h1>
        <div class="rating-container">
          <ion-button class="anton" fill="outline" (click)="editarPerfil()">
            EDITAR PERFIL
          </ion-button>
          <div class="rating">
            <span class="anton">Calificación:</span>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección de donaciones -->
    <div class="donations-section">
      <h2 class="anton">Donaciones:</h2>
      <swiper-container init="true">
        <swiper-slide *ngFor="let producto of userProducts">
          <ion-card (click)="onCardClick(producto)">
            <img [src]="getImagenProducto(producto)" 
                 [alt]="producto.Nom_producto"
                 loading="lazy">
            <ion-card-content>
              <h3>{{ producto.Nom_producto }}</h3>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Sección de comentarios -->
    <div class="comments-section">
      <h2 class="anton">Comentarios:</h2>
      <ion-list>
        <ion-item>
          <ion-label class="comment-box">
            <ion-text class="anton-comentario">(nombre usuario):</ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="comment-box">
            <ion-text class="anton-comentario">(nombre usuario):</ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="comment-box">
            <ion-text class="anton-comentario">(nombre usuario):</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
