<ion-content class="animacion-entrada ion-padding custom-container" [ngClass]="{'animacion-salida': isLeaving}">
  <div class="form-container">
    <!-- Sección Izquierda -->
    <div class="left-section" style="position: relative;">
      <ion-icon name="arrow-back-outline" class="back-icon" (click)="goBack()"></ion-icon>
      <img src="../../../assets/img/sol.png" alt="sol" class="small-top-right">

      <h1 class="fredoka-one" style="color:#F6DACD;">MIS DONACIONES</h1>
      <p class="anton">
        Aqui encontraras tus aportaciones o donaciones
      </p>
    </div>
    <!-- Sección Derecha -->
    <div class="right-section">
      <div *ngIf="userProducts.length === 0">
        <p class="register-text">AUN NO HAS HECHO NINGUNA DONACION</p>
      </div>
      <div *ngIf="userProducts.length > 0" class="productos-grid">
        <ion-card *ngFor="let producto of userProducts" class="producto-card">
          <img [src]="producto.Imagen" [alt]="producto.Nom_producto" class="producto-imagen">
          <ion-card-content>
            <p class="producto-nombre">Nombre: {{producto.Nom_producto}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
