<ion-toolbar class="custom-toolbar">
  <!-- Izquierda -->
  <ion-buttons slot="start">
    <img src="../../../assets/img/logo.png" alt="Logo" class="logo-img"/>
    <span class="rev-logo-text">REVEO</span>
  </ion-buttons>

  <!-- Derecha -->
  <ion-buttons slot="end">
    <ion-searchbar class="searchbar hide-on-sm" 
                  *ngIf="isLoggedIn$ | async"
                  (ionInput)="onSearch($event)"
                  placeholder="Buscar productos..."></ion-searchbar>
    <ion-searchbar class="searchbarSM show-on-sm hide-on-lg hide-on-md" 
                  *ngIf="isLoggedIn$ | async"
                  (ionInput)="onSearch($event)"
                  placeholder="Buscar productos..."></ion-searchbar>

    <!-- Botones visibles solo en pantallas grandes -->
    <ion-button (click)="goToDonaciones()" class="toolbar-btn hide-on-md" *ngIf="isLoggedIn$ | async">
      MIS DONACIONES
    </ion-button>

    <ion-button (click)="goToBaul()" class="toolbar-btn hide-on-md" *ngIf="isLoggedIn$ | async">
      MI BAÚL
    </ion-button>

    <ion-button class="profile-btn hide-on-md" *ngIf="isLoggedIn$ | async" (click)="openPopover($event)">
      <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      <span class="profile-text">{{ usuarioNombre$ | async }}</span>
    </ion-button>

    <!-- Botón de Iniciar Sesión (Se oculta si la sesión está iniciada) -->
    <ion-button (click)="goToLogin()" class="toolbar-btn" *ngIf="!(isLoggedIn$ | async)">
      INICIAR SESIÓN
    </ion-button>
    <!-- Botón de Registrarse -->
    <ion-button (click)="goToRegister()" class="toolbar-btn" *ngIf="!(isLoggedIn$ | async)">
      REGISTRARSE
    </ion-button>
    <!-- Botón de menú (Solo en medianas y pequeñas) -->
    <ion-menu-button menu="home-toolbar-menu" class="menu-btn show-on-md hide-on-lg"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
