@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

ion-content {
  padding: 81px;
  --background: #DBF9E9;
}
.register-container {
  --background: #3CCEC8;
  --border-radius: 16px;
  width: 402px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  opacity: 0.8;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}


  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .logo-container img {
    width: 100px;
  }

  .links-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

.campoRe {
  --background: #F2F2F2 !important; /* Cambiar el fondo */
  --border-radius: 8px !important;  /* Ajusta el borde */
  width: 345px !important;
  height: 31px !important;
  opacity: 0.85 !important;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-bottom: 30px !important; /* Ajusta el valor según necesites */
  overflow: visible !important;
  /* Elimina el borde inferior */
  --border-color: transparent !important;
  --inner-border-width: 0 !important;
}

.upload-icon {
  margin-left: auto;             /* Icono a la derecha */
  font-size: 20px;               /* Tamaño del icono */
  cursor: pointer;
  color: #000; /* Asegúrate de que el color no sea transparente */
}
.anton {
  font-family: 'Anton', sans-serif;
}
.fredoka-one {
  font-family: 'Fredoka One', sans-serif;
}
.custom-button {
  width: 100%;
  height: 80px;
  background-color: #5ba9a8;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px 50px 0 0; /* Semicírculo arriba */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 502.82px; /* Ajusta este valor para mover el botón más abajo */

}
.register-button {
  position: absolute;
  bottom: -40px; /* Para que se superponga */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

