<ion-content class="animacion-entrada ion-padding custom-container" [ngClass]="{'animacion-salida': isLeaving}">
  <div class="form-container">
    <!-- Sección Izquierda -->
    <div class="left-section" style="position: relative;">
      <ion-icon name="arrow-back-outline" class="back-icon" (click)="goBack()"></ion-icon>
      <img src="../../../assets/img/sol.png" alt="sol" class="small-top-right">

      <h1 class="fredoka-one" style="color:#F6DACD;">Empecemos a donar</h1>
      <p class="anton">
        Estamos a tu disposición para ayudarte. <br><br>
        Sigue los pasos y rellena los campos solicitados.
      </p>
    </div>
    <!-- Sección Derecha -->
    <div class="right-section">
      <ion-item class="campoRe">
        <ion-label class="anton" style="color:#7C7C7C;">Imagen:</ion-label>
        <ion-icon slot="end" name="cloud-upload-outline" onClick="document.getElementById('fileInput').click()" style="cursor: pointer;"></ion-icon>
        <input type="file" id="fileInput" style="display: none;">
      </ion-item>


      <ion-item class="campoRe" lines="none">
          <ion-input class="anton" label="Nombre producto:" style="color:#7C7C7C; width: 100%;"></ion-input>
      </ion-item>

      <ion-item class="campoRe" lines="none">
          <ion-input class="anton" label="Cantidad:" style="color:#7C7C7C; width: 100%;"></ion-input>
      </ion-item>

      <ion-item class="campoRe">
        <ion-label class="anton" style="color:#7C7C7C;">Categoria:</ion-label>
        <ion-select style="color: black;" interface="popover" slot="end">
          <ion-select-option value="nuevo">Nuevo</ion-select-option>
          <ion-select-option value="seminuevo">Seminuevo</ion-select-option>
          <ion-select-option value="usado">Usado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="campoRe">
        <ion-label class="anton" style="color:#7C7C7C;">Subcategoria:</ion-label>
        <ion-select style="color: black;" interface="popover" slot="end">
          <ion-select-option value="nuevo">Nuevo</ion-select-option>
          <ion-select-option value="seminuevo">Seminuevo</ion-select-option>
          <ion-select-option value="usado">Usado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" label="Municipio:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" label="Codigo Postal:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" label="Numero Telefonico:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>


      <!-- Botones -->
      <div class="button-container">
        <ion-button class="anton" style="color:#7C7C7C; width: 20%;">CANCELAR</ion-button>
        <ion-button class="anton" style="color:#7C7C7C; width: 20%;" >ACEPTAR</ion-button>
      </div>
    </div>
  </div>
</ion-content>
