<ion-content class="animacion-entrada ion-padding custom-container" [ngClass]="{'animacion-salida': isLeaving}">
  <div class="form-container">
    <!-- Sección Izquierda -->
    <div class="left-section" style="position: relative;">
      <ion-icon name="arrow-back-outline" class="back-icon" (click)="goBack()"></ion-icon>
      <img src="../../../assets/img/sol.png" alt="sol" class="small-top-right">

      <h1 class="fredoka-one" style="color:#F6DACD;">Empecemos a donar</h1>
      <p class="anton">
        Estamos a tu disposición para ayudarte. <br><br>
        Sigue los pasos y rellena los campos solicitados.
      </p>
    </div>
    <!-- Sección Derecha -->
    <div class="right-section">
      <ion-item class="campoRe">
        <!-- El ion-input mostrará el nombre del archivo cargado -->
        <ion-input
          class="anton"
          style="--color: #7C7C7C;"
          label="Imagen"
          type="text"
          [(ngModel)]="producto.Imagen.nombre"
          readonly
          >
        </ion-input>
        <!-- Input de archivo oculto -->
        <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" accept="image/*">
        <!-- Icono para abrir el selector de archivos -->
        <ion-icon name="cloud-upload-outline" class="upload-icon" (click)="openFileInput()"></ion-icon>
      </ion-item>

      <ion-item class="campoRe" lines="none">
          <ion-input class="anton" [(ngModel)]="producto.Nom_producto" label="Nombre del producto:" style="color:#7C7C7C; width: 100%;"></ion-input>
      </ion-item>

      <ion-item class="campoRe" lines="none">
          <ion-input class="anton" [(ngModel)]="producto.Cantidad" type="number" label="Cantidad:" style="color:#7C7C7C; width: 100%;"></ion-input>
      </ion-item>

      <ion-item class="campoRe">
        <ion-label class="anton" style="color:#7C7C7C;">Categoria:</ion-label>
        <ion-select [(ngModel)]="producto.Categoria" style="color: #7C7C7C;" interface="popover" slot="end" class="anton">
          <ion-select-option class="anton_option" value="papeleria">Papeleria</ion-select-option>
          <ion-select-option class="anton_option" value="electronica">Electrónica</ion-select-option>
          <ion-select-option class="anton_option" value="otros">Otros</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="campoRe">
        <ion-label class="anton" style="color:#7C7C7C;">Calidad:</ion-label>
        <ion-select [(ngModel)]="producto.Calidad" style="color: black;" interface="popover" slot="end">
          <ion-select-option value="nuevo">Nuevo</ion-select-option>
          <ion-select-option value="seminuevo">Seminuevo</ion-select-option>
          <ion-select-option value="usado">Usado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" [(ngModel)]="producto.Municipio" label="Municipio:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" [(ngModel)]="producto.Codigo_postal" type="number" label="Codigo Postal:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

      <ion-item class="campoRe" lines="none">
        <ion-input class="anton" [(ngModel)]="producto.Numero_telefonico" type="tel" label="Numero Telefonico:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

    <ion-item class="campoRe" lines="none">
      <ion-input class="anton" [(ngModel)]="producto.Descripcion" label="Descripcion:" style="color:#7C7C7C; width: 100%;"></ion-input>
    </ion-item>

      <!-- Botones -->
      <div class="button-container">
        <ion-button (click)="goBack()" class="anton" style="color:#7C7C7C; width: auto;">CANCELAR</ion-button>
        <ion-button (click)="goToHome()" class="anton" style="color:#7C7C7C; width: auto;" >ACEPTAR</ion-button>
      </div>
    </div>
  </div>
</ion-content>
