ion-content {
  --background:white !important;
}

.categories-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Botón principal */
.category-btn {
  --background: #BFFFD4;
  color: black;
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400px;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -3%;
  text-align: center;
  vertical-align: middle;
  width: 137px;
  height: 29px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 2;
}

/* Contenedor de los sub-botones */
.subcategories {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0; /* Asegura que estén alineados verticalmente con Categorías */
  height: 100%; /* Asegurar alineación */
}

/* Botones de subcategorías */
.subcategory-btn {
  --background: #BFFFD4;
  color: black;
  font-family: 'Fredoka One', sans-serif;
  font-size: 13px;
  width: 137px;
  height: 29px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Mostrar los botones con animación */
.show:nth-child(1) {
  transform: translateX(145px);
  opacity: 1;
  transition-delay: 0.1s;
}

.show:nth-child(2) {
  transform: translateX(290px);
  opacity: 1;
  transition-delay: 0.2s;
}

.show:nth-child(3) {
  transform: translateX(435px);
  opacity: 1;
  transition-delay: 0.3s;
}

/* Ocultar los botones con animación */
.subcategory-btn:not(.show) {
  transform: translateX(0);
  opacity: 0;
}

/* Ocultar en pantallas pequeñas */
@media (max-width: 767px) {
  .subcategories{
    display: none;
  }
}

.custom-toolbar {
  --background: white;
  padding: 5px 10px;
}

.donate-btn {
  width: 137px;
  height: 29px;
  background-color: #FFABAB;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Espacio entre icono y texto */
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #750C0C;
}

.donate-btn ion-icon {
  color: #750C0C;
  font-size: 18px;
}

.custom-card {
  --background: white;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

/* Sección del usuario */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: left;
  color: #000000;
}

/* Imagen principal */
.card-image {
  width: 100%;
  height: 179px;
  border-radius: 15px;
}

/* Responsive para tamaños de pantalla */
@media (max-width: 767px) {
  .card-image {
    max-width: 100%; /* Se ajusta a 2 columnas */
  }
}
